.body-login {
  background-image: url("../img/background/navidad.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  background-image: url(../img/background/bg-white.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

}

.card {
  background-color: rgba(250, 250, 248, 0.61);
  border-radius: 20px;
  padding: 5px;
  color: black;
}

.card-header {
  border-radius: 20px !important;

}

#mapa {
  height: 200px;
  width: 100%;
  border-radius: 25px;
}

.diseño-coordenadas {
  font-size: 25px;
  font-weight: bolder;

}

.form-control:focus {
  border: none;
  outline: none !important;
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.075), 0 0 8px rgba(252, 192, 42, 1);

}

.form-check-input:focus {
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.075), 0 0 8px rgba(252, 192, 42, 1);

}

.form-select:focus {
  border: none;
  outline: none !important;
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, 0.075), 0 0 8px rgba(252, 192, 42, 1);

}

.fondo-chat-admin {
  background-image: url("../img/interfaces/chatBackgroundYellow.svg");
  width: auto;
  height: auto;

}

/* Chat */

.enviaChat {
  background-color: rgba(33, 37, 41, 1);
  color: white;
  padding: 15px;
  border-radius: 15px;
  text-align: left;

}

.recibirChat {
  background-color: rgba(252, 192, 42, 0.785);
  color: black;
  padding: 15px;
  border-radius: 15px;
  text-align: left;

}

.scroll-vertical {
  max-height: 520px;
  overflow-y: scroll;
}

/*Landing*/
#home {
  background: url("../img/interfaces/bg2.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.rounded-6 {
  border-radius: 25px;
  border: #fff 2px solid;
}

.pointer {
  cursor: pointer;
}


.active {
  background-color: #FCC02A !important;
  color: black !important;
}

.fijado {
  position: fixed;
}

.dropdown-item:hover {
  background-color: #FCC02A !important;
  color: black !important;
}

.card.login {
  background-color: rgba(54, 54, 51, 0.15) !important;

}

.form-control.login {
  background-color: rgba(54, 54, 51, 0.15) !important;
  border-color: rgba(93, 93, 97, 0.15) !important;
}


/* Inicio Diseño de Tabla */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}


/* Estilos de Tabla */

.table-wrapper {
  margin: 10px 70px 70px;
  box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td,
.fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
}

.fl-table thead th {
  color: #ffffff;
  background: #212529;
}


.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #212529;
}

.fl-table tr:nth-child(even) {
  background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
  .fl-table {
    display: block;
    width: 100%;
  }

  .table-wrapper:before {
    content: "Scroll horizontally";
    display: block;
    text-align: right;
    font-size: 11px;
    color: white;
    padding: 0 0 10px;
  }

  .fl-table thead,
  .fl-table tbody,
  .fl-table thead th {
    display: block;
  }

  .fl-table thead th:last-child {
    border-bottom: none;
  }

  .fl-table thead {
    float: left;
  }

  .fl-table tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
  }

  .fl-table td,
  .fl-table th {
    padding: 20px .625em .625em .625em;
    height: 60px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 120px;
    font-size: 13px;
    text-overflow: ellipsis;
  }

  .fl-table thead th {
    text-align: left;
    border-bottom: 1px solid #f7f7f9;
  }

  .fl-table tbody tr {
    display: table-cell;
  }

  .fl-table tbody tr:nth-child(odd) {
    background: none;
  }

  .fl-table tr:nth-child(even) {
    background: transparent;
  }

  .fl-table tr td:nth-child(odd) {
    background: #F8F8F8;
    border-right: 1px solid #E6E4E4;
  }

  .fl-table tr td:nth-child(even) {
    border-right: 1px solid #E6E4E4;
  }

  .fl-table tbody td {
    display: block;
    text-align: center;
  }
}

/* Final Diseño de Tabla */


/*Inicio de dise;os para comercios*/
.bg-warning-dark {
  background-color: #a57a00 !important;
}

.d-border-dark {
  border: black 1px solid;
  border-radius: 4.4px !important;
}

/**/


/*Inicio de comercios para roles*/
.img-perfil {
  width: 35px;
  height: 35px;
}

/*Fin de roles*/